<main class="main">
  <section>
    <div class="header-flexbox">
      <h1>Welcome to our {{ title }}</h1>
      <object data="../../assets/logo.svg" type="image/svg+xml"></object>
    </div>
  </section>
  <section class="content">
    <p>
      Our solar system, a swirling cosmic dance, boasts a variety of celestial bodies, including the Sun, planets,
      moons, asteroids, and comets, all orbiting the Sun a central star.
      <br>
      <br>
      The Sun, a giant ball of fire, is the heart of our solar system, and its gravity keeps everything in place.
      Eight planets follow nearly circular paths, Pluto, now a dwarf planet, orbits in a more elongated path, and is
      located in the Kuiper Belt, a region beyond Neptune teeming with icy bodies.
    </p>
  </section>
  <app-launch class="launch"></app-launch>
</main>