<section class="solar-object-box">
  <img class=" solar-image" [src]="solarObject?.image" alt="Image from space of {{ solarObject?.name }}"
    (click)="playOrPauseObjectsAudio()">
  <p class="solar-object-details">
    Name: <i>{{ solarObject?.name }}</i>
    <br>
    Age: <i>{{ solarObject?.age }}</i>
    <br>
    Appearance: <i>{{ solarObject?.color }}</i>
    <br>
    Size: <i>{{ solarObject?.size }}</i>
    <br>
    <br>
    <i class="message">"Click on object to play/pause it's sound from space"</i>
  </p>
</section>